@import url("https://use.typekit.net/dbw0nia.css");
.app {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  height: 100vh;
  font-family: "century-gothic", sans-serif;
}

@media only screen and (max-width: 481px) {
  .trackcover {
    width: 100%;
  }
}

@media only screen and (min-width: 481px) {
  .trackcover {
    width: 60%;
  }
}

@media only screen and (min-width: 761px) {
  .trackcover {
    width: 30%;
  }
}

p {
  font-family: "century-gothic", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
}

svg {
  margin-bottom: 5px !important;
}

.tracktext {
  color: rgb(44, 40, 40);
  margin: 0;
  font-size: 0.875rem;
  text-align: center;
}

.inputfield {
  width: auto;
}

.homepagetext {
  text-align: center;
}

.quizinputtext {
  text-align: center;
}

.quizinputtext1 {
  font-size: 2rem;
  text-align: center;
}

.timecurrent {
  font-size: 0.875rem;
}

.custombutton {
  width: auto !important;
  border-color: transparent !important;
  border-radius: 30px !important;
  /* border-radius: 40px !important; */
  color: rgb(242, 236, 236) !important;
  background-color: rgb(73, 73, 73) !important;
}

.custombutton:hover {
  /* border-radius: 40px !important; */
  color: rgb(242, 236, 236) !important;
  background-color: rgb(29, 26, 26) !important;
}

.playpausebtn {
  background-color: transparent !important;
  border: 0 !important;
}

.seperator {
  height: 1px;
  width: 100%;
  background-color: rgb(29, 26, 26);
}
